<h1><%= @callee.name %></h1>

<p>
  <%= @callee.bio %>
</p>

<h2>Call this person</h2>
<div class="call-info">
  <div class="text">Call</div>
  <div class="number"><%= Phonelib.parse(@call_number).national %></div>
  <div class="text">and enter the code</div>
  <div class="number"><%= @relationship.code %></div>
</div>

<%= link_to 'Back', relationships_path %>
