<h1><%= @callee.name %></h1>

<p>
  <%= @callee.bio %>
</p>

<h2>Call this person</h2>
<div class="call-info">
  <div class="text">Call</div>
  <div class="number"><%= Phonelib.parse(@call_number).national %></div>
  <div class="text">and enter the code</div>
  <div class="number"><%= @relationship.code %></div>
</div>

<% if @relationship.calls.any? %>
  <h2>Your previous calls</h2>
  <ul>
    <% @relationship.calls.each do |c| %>
      <li><%= local_time(c.call_date) %> - <%= c.complete? ? format_duration(c.seconds) : "call ongoing" %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Back', relationships_path %>
