<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<% if current_user.admin? %>
  <%
  total_students = User.where.not(confirmed_at: nil).count &:student?
  students_with_calls = User.joins(:calls).distinct.count
  %>
  <p>
    Total student volunteers: <%= total_students %> <br>
    Students who've made calls: <%= students_with_calls %> <br>
    Students who haven't made calls: <%= total_students - students_with_calls %>
  </p>

  <%
  callees_with_calls = Callee.joins(:calls).distinct.count
  %>
  <p>
    Total seniors: <%= Callee.count %> <br>
    Seniors who've gotten calls: <%= callees_with_calls %> <br>
    Seniors who haven't gotten calls: <%= Callee.count - callees_with_calls %>
  </p>

  <p>
    Total calls (over five minutes): <%= Call.where("seconds > 300").count %> <br>
    Total call time: <%= format_duration(Call.sum(:seconds)) %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Switchboard number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.switchboard_number %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
