<!DOCTYPE html>
<html>
  <head>
    <title>Phone Pals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'logo.png', type: 'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="controller-<%= controller_name %>">
    <div id="container">
      <header>
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
        <% end %>
        <div id="header-name"><%= link_to "Phone Pals", root_path %></div>
        <% if user_signed_in? %>
          <div id="header-user">
            <div><%= link_to current_user.name, edit_user_registration_path %></div>
            <div><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
          </div>
        <% else %>
          <div id="header-user"><%= link_to "Sign in", new_user_session_path %></div>
        <% end %>
      </header>
      <main>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
      <footer>
        <%= link_to "About", page_path("about") %>
        &middot;
        <%= link_to "Rules and advice", rules_path %>
        &middot;
        info@phonepals.net
      </footer>
    </div>
  </body>
</html>
